@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    background: #FFF6BD;
  }
  
  .menu-bar {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1c1b1ab1;
    margin: 10px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .5);
  }
  .menu-bar .line{
    width: 25px;
    height: 2px;
    margin: 3px;
    background: #ebebeb;
    transition: all 300ms ease-out;
  }
  
  .nav-bar .nav-items{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1c1b1ac4;
    clip-path: circle(30px at 93% 8%);
    transition: all 800ms ease-out;
    opacity: 0;
    z-index: 1;
  }
  
  .nav-bar .nav-items .nav-links{
    color: #ebebeb;
    font-size: 22px;
    margin: 10px 17px;
    text-decoration: none;
  }

  .nav-bar .nav-items .nav-mini{
    color: #ebebeb;
    font-size: 15px;
    font-weight: 100;
    margin: 3px 17px;
    text-decoration: none;
  }
  
  .nav-bar.toggle .nav-items{
    clip-path: circle(100%);
    opacity: 1;
  }
  
  .nav-bar.toggle .menu-bar{
    box-shadow: none;
  }
  
  .nav-bar.toggle .menu-bar .line:nth-child(1){
    transform: rotate(-45deg);
    margin: 0;
  }
  .nav-bar.toggle .menu-bar .line:nth-child(3){
    opacity: 0;
  }
  .nav-bar.toggle .menu-bar .line:nth-child(2){
    transform: rotateZ(45deg);
    margin: -2px;
  }
  .title {
    height: 100%;
    transform: translate(0%, 45%);
  }
  .title h1{
    text-align: center;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 1.5px #6f4a8e;
  }