body{
    height: 460px;
    align-items: center;
    justify-content: center;
    background-color: #FFF6BD;
}


img {
    height : 25px;
    width : 25px;
    object-fit :cover;
}

.box{
    color: black;
    height: 50px;
    text-align : center;
}
.timerBox{
    width: 200px;
    color: black;
    outline: 2px solid black;
}
.timerBox .time{
    font-size: 30pt;
    color: #4C4C4C;
    text-align: center;
}
.btnBox{
    margin: 20px auto;
    color : #86C8BC;
    text-align: center;
}
.btnBox .fa{
    margin: 0px 5px;
    font-size: 30pt;
    color: #86C8BC;
    cursor: pointer;
}

#mapwrap{
    position:relative;
    overflow:hidden;
}

#weather, #weather *{
    margin:0;
    padding:0;
    color:#000;
}
#weather {
    position:absolute;
    overflow:hidden;
    top:10px;
    right:10px;
    z-index: 10;
}
#weather_open {
    height : 50px;
    width : 50px;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:10px;
    text-align:center;
    display : inline;
}

#weather_info {
    height : 50px;
    width : 240px;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:10px;
    text-align:center;
    display : block;
}

#list {
    position:absolute;
    overflow:hidden;
    top:65px;
    right:10px;
    z-index:10;
}

#list_1 {
    height : 50px;
    width : 50px;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:10px;
    text-align:center;
}

#recommend {
    position:absolute;
    overflow:hidden;
    top:120px;
    right:10px;
    z-index: 10;
}

#recommend button {
    z-index: 10;
    height : 50px;
    width : 50px;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:10px;
    text-align:center;
}

#category, #category *{
    margin:0;
    padding:0;
    color:#000;
}

#category {
    position:absolute;
    overflow:hidden;
    top: 10px;
    right:10px;
    width:400px;
    height:360px;
    z-index:15;
    font-family:'Malgun Gothic','맑은 고딕',sans-serif;
    font-size:14px;
    text-align:left;
    background-color:#fff;
    display:block;
}