<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style_1.css">
</head>
<body>
<div style="clear: both"></div>
    <nav class="nav-bar">
        <div class="menu-bar">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-items">
            <a href="#" class="nav-links" style="margin:25px 17px; font-size:25px; font-weight:700;">User01</a>
            <a href="#" class="nav-links">반려견 관리</a>
            <a href="#" class="nav-links">누적 기록</a>
            <a href="#" class="nav-links">알림 설정</a>
            <a href="#" class="nav-links" style="margin:35px 17px; font-size:18px; font-weight:200;">개발자에게 의견주기</a>
            <div class="nav-mini">ver 1.0.0</div>
            <a href="#" class="nav-mini">이용약관</a>
            <div class="nav-mini">dAl_vengers</div>
        </div>
      </nav>
      <div class="title">
        <h1></h1>
      </div>
      <script src="/static/menubar.js"></script>
</body>
</html>