<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<section>
    <article width="100%">
        <table id="box" class = "box" width="100%">
            <tr id="timerbox" class="timerbox">
                <td width="50%">
                    <div id="time" class="time"><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span>.<span id="micro">00</span></div>
                </td>
                <td width="50%">
                    <div>00km</div>
                </td>
            </tr>
        </table>
    </article>
    <article>
        <!-- 지도를 표시할 div 입니다 -->
        <div id="mapwrap">
            <!-- 지도가 표시될 div -->
            <div id="map" style="width:100%;height:630px;"></div>
            <!-- 지도 위에 표시될 마커 카테고리 -->
            <div id="weather">
                <button type="button" id='weather_open'><img src="/static/image/sun.png"></button>
                <button type="button" id='weather_info'>실시간 정보</button>
            </div>
            <script>
                $(function() {
                    $('#weather_open').show(); //페이지를 로드할 때 표시할 요소
                    $('#weather_info').hide(); //페이지를 로드할 때 숨길 요소
                });
                $('#weather_open').click(function(){
                    $('#weather_open').hide(); //클릭 시 첫 번째 요소 숨김
                    $('#weather_info').show(); //클릭 시 두 번째 요소 표시
                });
                $('#weather_info').click(function(){
                    $('#weather_open').show();
                    $('#weather_info').hide();
                });
            </script>
            <div id="list">
                <button type="button" id="list_1"><img src="/static/image/list.png"></button>
            </div>
            <div id="category">
                <ul>
                    <li id="trashMenu" onclick="changeMarker('trash')">쓰레기통</li>
                    <li id="toiletMenu" onclick="changeMarker('toilet')">화장실</li>
                    <li id="vetMenu" onclick="changeMarker('vet')">동물병원</li>
                    <li id="dogcafeMenu" onclick="changeMarker('dogcafe')">애견카페</li>
                    <li id="cafeMenu" onclick="changeMarker('cafe')">애견동반카페</li>
                    <li id="resMenu" onclick="changeMarker('res')">애견동반식당</li>
                    <li id="playMenu" onclick="changeMarker('play')">무료 반려견 운동장</li>
                    <button type="button" id="setting">완료</button>
                </ul>
            </div>
            <script>
                $(function() {
                    $('#list').show(); //페이지를 로드할 때 표시할 요소
                    $('#category').hide(); //페이지를 로드할 때 숨길 요소
                });
                $('#list').click(function(){
                    $('#list').hide(); //클릭 시 첫 번째 요소 숨김
                    $('#category').show(); //클릭 시 두 번째 요소 표시
                });
                $('#setting').click(function(){
                    $('#list').show();
                    $('#category').hide();
                });
            </script>
            <div id="recommend">
                <button type="button"><img src="/static/image/thumb-up.png"></button>
            </div>
        </div>
        <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=6075751d111977dfe10aaa2dec967efd"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                center: new kakao.maps.LatLng(37.498004414546934, 127.02770621963765), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            var trashPositions = [
                new kakao.maps.LatLng(37.499590490909185, 127.0263723554437),
                new kakao.maps.LatLng(37.499427948430814, 127.02794423197847),
                new kakao.maps.LatLng(37.498553760499505, 127.02882598822454),
            ];

            var toiletPositions = [
                new kakao.maps.LatLng(37.497535461505684, 127.02948149502778),
                new kakao.maps.LatLng(37.49671536281186, 127.03020491448352),
                new kakao.maps.LatLng(37.496201943633714, 127.02959405469642),
            ];

            var vatPositions = [
                new kakao.maps.LatLng(37.49640072567703, 127.02726459882308),
                new kakao.maps.LatLng(37.49640098874988, 127.02609983175294),
                new kakao.maps.LatLng(37.49932849491523, 127.02935780247945)
            ];

            var dogcafePositions = [
                new kakao.maps.LatLng(37.49966168796031, 127.03007039430118),
                new kakao.maps.LatLng(37.499463762912974, 127.0288828824399),
                new kakao.maps.LatLng(37.49896834100913, 127.02833986892401),
            ];

            var cafePositions = [
                new kakao.maps.LatLng(37.49893267508434, 127.02673400572665),
                new kakao.maps.LatLng(37.49872543597439, 127.02676785815386),
                new kakao.maps.LatLng(37.497680616783086, 127.02518427952202)
            ];

            var resPositions = [
                new kakao.maps.LatLng(37.497625593121384, 127.02935713582038),
                new kakao.maps.LatLng(37.49646391248451, 127.02675574250912),
                new kakao.maps.LatLng(37.49754540521486, 127.02546694890695)
            ];

            var playPosition = [
                new kakao.maps.LatLng(37.49813096097184, 127.02591949495914),
                new kakao.maps.LatLng(37.49629291770947, 127.02587362608637),
                new kakao.maps.LatLng(37.49996818951873, 127.02943721562295)
            ];

            var trashMarkers = [],
                toiletMarkers = [],
                vetMarkers = [],
                dogcafeMarkers = [],
                cafeMarkers = [],
                resMarkers = [],
                playMarkers = [];

            createTrashMarkers();
            createToiletMarkers();
            createVetMarkers();
            createDogcafeMarkers();
            createCafeMarkers();
            createResMarkers();
            createPlayMarkers();

            changeMarker('trash');

            function createMarkerImage(src, size, options) {
                var markerImage = new kakao.maps.MarkerImage(src, size, options);
                return markerImage;
            }

            function createMarker(position, image) {
                var marker = new kakao.maps.Marker({
                    position: position,
                    image: image
                });
                return marker;
            }

            function createTrashMarkers() {
                for (var i = 0; i < trashPositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 0),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(trashPositions[i], markerImage);
                    trashMarkers.push(marker);
                }
            }
            function setTrashMarkers(map) {
                for (var i = 0; i < trashMarkers.length; i++) {
                    trashMarkers[i].setMap(map);
                }
            }

            function createToiletMarkers() {
                for (var i = 0; i < toiletPositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 36),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(toiletPositions[i], markerImage);
                    toiletMarkers.push(marker);
                }
            }
            function setToiletMarkers(map) {
                for (var i = 0; i < toiletMarkers.length; i++) {
                    toiletMarkers[i].setMap(map);
                }
            }

            function createVetMarkers() {
                for (var i = 0; i < vetPositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 36),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(vetPositions[i], markerImage);
                    vetMarkers.push(marker);
                }
            }
            function setVetMarkers(map) {
                for (var i = 0; i < vetMarkers.length; i++) {
                    vetMarkers[i].setMap(map);
                }
            }

            function createDogcafeMarkers() {
                for (var i = 0; i < dogcafePositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 72),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(dogcafePositions[i], markerImage);
                    dogcafeMarkers.push(marker);
                }
            }
            function setDogcafeMarkers(map) {
                for (var i = 0; i < dogcafeMarkers.length; i++) {
                    dogcafeMarkers[i].setMap(map);
                }
            }

            function createCafeMarkers() {
                for (var i = 0; i < cafePositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 72),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(cafePositions[i], markerImage);
                    cafeMarkers.push(marker);
                }
            }
            function setCafeMarkers(map) {
                for (var i = 0; i < cafeMarkers.length; i++) {
                    cafeMarkers[i].setMap(map);
                }
            }

            function createResMarkers() {
                for (var i = 0; i < resPositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 72),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(resPositions[i], markerImage);
                    resMarkers.push(marker);
                }
            }
            function setResMarkers(map) {
                for (var i = 0; i < resMarkers.length; i++) {
                    resMarkers[i].setMap(map);
                }
            }

            function createPlayMarkers() {
                for (var i = 0; i < playPositions.length; i++) {
                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 72),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(PlayPositions[i], markerImage);
                    playMarkers.push(marker);
                }
            }
            function setPlayMarkers(map) {
                for (var i = 0; i < playMarkers.length; i++) {
                    playMarkers[i].setMap(map);
                }
            }

            function changeMarker(type){

                var trashMenu = document.getElementById('trashMenu');
                var toiletMenu = document.getElementById('toiletMenu');
                var vetMenu = document.getElementById('vetMenu');
                var dogcafeMenu = document.getElementById('dogcafeMenu');
                var cafeMenu = document.getElementById('cafeMenu');
                var resMenu = document.getElementById('resMenu');
                var playMenu = document.getElementById('playMenu');

                if (type === 'trash') {
                    trashMenu.className = 'menu_selected';
                    toiletMenu.className = '';
                    vetMenu.className = '';
                    dogcafeMenu.className = '';
                    cafeMenu.className = '';
                    resMenu.className = '';
                    playMenu.className = '';

                    setTrashMarkers(map);
                    setToiletMarkers(null);
                    setVetMarkers(null);
                    setDogcafeMarkers(null);
                    setCafeMarkers(null);
                    setResMarkers(null);
                    setPlayMarkers(null);

                } else if (type === 'toilet') {

                    trashMenu.className = '';
                    toiletMenu.className = 'menu_selected';
                    vetMenu.className = '';
                    dogcafeMenu.className = '';
                    cafeMenu.className = '';
                    resMenu.className = '';
                    playMenu.className = '';

                    setTrashMarkers(null);
                    setToiletMarkers(map);
                    setVetMarkers(null);
                    setDogcafeMarkers(null);
                    setCafeMarkers(null);
                    setResMarkers(null);
                    setPlayMarkers(null);

                } else if (type === 'vet') {

                    trashMenu.className = '';
                    toiletMenu.className = '';
                    vetMenu.className = 'menu_selected';
                    dogcafeMenu.className = '';
                    cafeMenu.className = '';
                    resMenu.className = '';
                    playMenu.className = '';

                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setVetMarkers(map);
                    setDogcafeMarkers(null);
                    setCafeMarkers(null);
                    setResMarkers(null);
                    setPlayMarkers(null);

                } else if (type === 'dogcafe') {

                    trashMenu.className = '';
                    toiletMenu.className = '';
                    vetMenu.className ='';
                    dogcafeMenu.className = 'menu_selected';
                    cafeMenu.className = '';
                    resMenu.className = '';
                    playMenu.className = '';

                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setVetMarkers(null);
                    setDogcafeMarkers(map);
                    setCafeMarkers(null);
                    setResMarkers(null);
                    setPlayMarkers(null);

                }   else if (type === 'cafe') {

                    trashMenu.className = '';
                    toiletMenu.className = '';
                    vetMenu.className ='';
                    dogcafeMenu.className = '';
                    cafeMenu.className = 'menu_selected';
                    resMenu.className = '';
                    playMenu.className = '';

                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setVetMarkers(null);
                    setDogcafeMarkers(null);
                    setCafeMarkers(map);
                    setResMarkers(null);
                    setPlayMarkers(null);

                }   else if (type === 'res') {

                    trashMenu.className = '';
                    toiletMenu.className = '';
                    vetMenu.className ='';
                    dogcafeMenu.className = '';
                    cafeMenu.className = '';
                    resMenu.className = 'menu_selected';
                    playMenu.className = '';

                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setVetMarkers(null);
                    setDogcafeMarkers(null);
                    setCafeMarkers(null);
                    setResMarkers(map);
                    setPlayMarkers(null);

                }   else if (type === 'play') {

                    trashMenu.className = '';
                    toiletMenu.className = '';
                    vetMenu.className ='';
                    dogcafeMenu.className = '';
                    cafeMenu.className = '';
                    resMenu.className = '';
                    playMenu.className = 'menu_selected';

                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setVetMarkers(null);
                    setDogcafeMarkers(null);
                    setCafeMarkers(null);
                    setResMarkers(null);
                    setPlayMarkers(map);
                }
            }
        </script>
    </article>
    <article>
        <div>
            <div class="btnBox">
                <div id="restarted">
                    <button type="button" id="restart">재시작</button>
                    <button type="button" id="stop1">그만하기</button>
                </div>
                <div id="paused">
                    <button type="button" id="pause">일시정지</button>
                    <button type="button" id="stop2">그만하기</button>
                </div>
                <div id="main">
                    <button type="button" id="start">시작하기</button>
                </div>
            </div>
            <script>
                $(function() {
                    $('#main').show();
                    $('#restarted').hide();
                    $('#paused').hide();
                });
                $('#start').click(function(){
                    $('#main').hide();
                    $('#restarted').hide();
                    $('#paused').show();
                });
                $('#pause').click(function(){
                    $('#main').hide();
                    $('#restarted').show();
                    $('#paused').hide();
                });
                $('#restart').click(function(){
                    $('#main').hide();
                    $('#restarted').hide();
                    $('#paused').show();
                });
                $('#stop1').click(function(){
                    $('#main').show();
                    $('#restarted').hide();
                    $('#paused').hide();
                });
                $('#stop2').click(function(){
                    $('#main').show();
                    $('#restarted').hide();
                    $('#paused').hide();
                });
            </script>
            <script>
                window.onload = function(){
                    let timer_sec;
                    let timer_min;
                    let timer_hour;
                    let timer_micro;
                    let timer = 0;

                    //click start button
                    document.getElementById("start").addEventListener("click", function(){

                        //console.log(timer);
                        if(timer > 0){
                            return;
                        }
                        var micro = parseInt(document.getElementById("micro").innerText);
                        var sec = parseInt(document.getElementById("sec").innerText);
                        var min = parseInt(document.getElementById("min").innerText);
                        var hour = parseInt(document.getElementById("hour").innerText);

                        //start seconds
                        timer_micro = setInterval(function(){
                            micro++;
                            if(micro == 100) {
                                micro = "00";
                            } else if(micro < 10){
                                micro = "0" + micro;
                            }
                            document.getElementById("micro").innerText = micro;
                        }, 10);

                        //start seconds
                        timer_sec = setInterval(function(){
                            //console.log(i);
                            sec++;
                            if(sec == 60) {
                                sec = "00";
                            } else if(sec < 10){
                                sec = "0" + sec;
                            }
                            document.getElementById("sec").innerText = sec;
                        }, 1000);

                        //start minutes
                        timer_min = setInterval(function(){
                            min++;
                            if(min == 60) {
                                min = 0;
                            } else if(min < 10){
                                min = "0" + min;
                            }
                            document.getElementById("min").innerText = min;
                        }, 60000);

                        //start hours
                        timer_hour = setInterval(function(){
                            //console.log(hour);
                            hour++;
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            document.getElementById("hour").innerText = hour;
                        }, 3600000);
                        timer++;
                        //console.log(timer);
                    });

                    //click pause button
                    document.getElementById("pause").addEventListener("click", function(){
                        stop();
                    });
                    function stop(){
                        clearInterval(timer_micro);
                        clearInterval(timer_sec);
                        clearInterval(timer_min);
                        clearInterval(timer_hour);
                        timer--;
                        if(timer < 0)
                            timer = 0;
                    }

                    //click restart button
                    document.getElementById("restart").addEventListener("click", function(){

                        //console.log(timer);
                        if(timer > 0){
                            return;
                        }
                        var micro = parseInt(document.getElementById("micro").innerText);
                        var sec = parseInt(document.getElementById("sec").innerText);
                        var min = parseInt(document.getElementById("min").innerText);
                        var hour = parseInt(document.getElementById("hour").innerText);

                        //start seconds
                        timer_micro = setInterval(function(){
                            micro++;
                            if(micro == 100) {
                                micro = "00";
                            } else if(micro < 10){
                                micro = "0" + micro;
                            }
                            document.getElementById("micro").innerText = micro;
                        }, 10);

                        //start seconds
                        timer_sec = setInterval(function(){
                            //console.log(i);
                            sec++;
                            if(sec == 60) {
                                sec = "00";
                            } else if(sec < 10){
                                sec = "0" + sec;
                            }
                            document.getElementById("sec").innerText = sec;
                        }, 1000);

                        //Restart minutes
                        timer_min = setInterval(function(){
                            min++;

                            if(min == 60) {
                                min = 0;
                            } else if(min < 10){
                                min = "0" + min;
                            }

                            document.getElementById("min").innerText = min;
                        }, 60000);

                        //restart hours
                        timer_hour = setInterval(function(){
                            //console.log(hour);
                            hour++;
                            if(hour < 10){
                                hour = "0" + hour;
                            }
                            document.getElementById("hour").innerText = hour;
                        }, 3600000);
                        timer++;
                        //console.log(timer);
                    });

                    //click stop1 button
                    document.getElementById("stop1").addEventListener("click", function(){
                        stop();
                        document.getElementById("micro").innerText = "00";
                        document.getElementById("sec").innerText = "00";
                        document.getElementById("min").innerText = "00";
                        document.getElementById("hour").innerText = "00";
                    });

                    function stop(){
                        clearInterval(timer_micro);
                        clearInterval(timer_sec);
                        clearInterval(timer_min);
                        clearInterval(timer_hour);
                        timer--;
                        if(timer < 0)
                            timer = 0;
                    }

                    //click stop2 button
                    document.getElementById("stop2").addEventListener("click", function(){
                        stop();
                        document.getElementById("micro").innerText = "00";
                        document.getElementById("sec").innerText = "00";
                        document.getElementById("min").innerText = "00";
                        document.getElementById("hour").innerText = "00";
                    });

                    function stop(){
                        clearInterval(timer_micro);
                        clearInterval(timer_sec);
                        clearInterval(timer_min);
                        clearInterval(timer_hour);
                        timer--;
                        if(timer < 0)
                            timer = 0;
                    }
                }
            </script>
        </div>
    </article>
</section>

</body>
</html>