<!DOCTYPE html>
<html lang="kr">
<head>
    <style>

	</style>
    <meta charset="UTF-8">
    <title>map</title>
</head>
<body>
<section>
    <article width="100%">
        <table id="box" class = "box" width="100%">
            <tr id="timerbox" class="timerbox">
                <td width="50%">
                    <div id="time" class="time"><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span>.<span id="micro">00</span></div>
                </td>
                <td width="50%">
                    <div>00km</div>
                </td>
            </tr>
        </table>
    </article>
    <article>
        <!-- 지도를 표시할 div 입니다 -->
        <div id="mapwrap">
            <!-- 지도가 표시될 div -->
            <div id="map" style="width:100%;height:630px;"></div>
            <!-- 지도 위에 표시될 마커 카테고리 -->
            <div id="weather">
                <button type="button" id='weather_open'><img src="/static/image/sun.png"></button>
                <button id='weather_info'>실시간 정보</button>
            </div>
            <script>
                $(document).ready(function() {
                    $('#weather_open').show(); //페이지를 로드할 때 표시할 요소
                    $('#weather_info').hide(); //페이지를 로드할 때 숨길 요소
                        $('#weather_open').click(function(){
                            $('#weather_open').hide(); //클릭 시 첫 번째 요소 숨김
                            $('#weather_info').show(); //클릭 시 두 번째 요소 표시
                        return false;
                        });
                });
                $('#weather_info').click(function(){
                    $('#weather_open').show();
                    $('#weather_info').hide();
                return false;
                });
            </script>
            <div id="list">
                <button type="button"><img src="/static/image/list.png"></button>
            </div>
            <!--
            <div class="category">
                    <ul>
                        <li id="trashMenu" onclick="changeMarker('trash')">
                            <span class="ico_comm ico_trash"></span>
                            쓰레기통
                        </li>
                        <li id="toiletMenu" onclick="changeMarker('toilet')">
                            <span class="ico_comm ico_toilet"></span>
                            화장실
                        </li>
                        <li id="dogcafeMenu" onclick="changeMarker('dogcafe')">
                            <span class="ico_comm ico_dogcafe"></span>
                            애견카페
                        </li>
                        <li id="cafeMenu" onclick="changeMarker('cafe')">
                            <span class="ico_comm ico_cafe"></span>
                            애견동반카페
                        </li>
                        <li id="resMenu" onclick="changeMarker('res')">
                            <span class="ico_comm ico_res"></span>
                            애견동반식당
                        </li>
                        <li id="hosMenu" onclick="changeMarker('hos')">
                            <span class="ico_comm ico_hos"></span>
                            동물병원
                        </li>
                        <li id="playMenu" onclick="changeMarker('play')">
                            <span class="ico_comm ico_play"></span>
                            운동장
                        </li>
                    </ul>
                </div>
            </div> -->
            <div id="recommend">
                <button type="button"><img src="/static/image/thumb-up.png"></button>
            </div>
        </div>
        <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=6075751d111977dfe10aaa2dec967efd"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.498004414546934, 127.02770621963765), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            var trashPositions = [
                new kakao.maps.LatLng(37.499590490909185, 127.0263723554437),
                new kakao.maps.LatLng(37.499427948430814, 127.02794423197847),
                new kakao.maps.LatLng(37.498553760499505, 127.02882598822454),
                new kakao.maps.LatLng(37.497625593121384, 127.02935713582038),
                new kakao.maps.LatLng(37.49646391248451, 127.02675574250912),
                new kakao.maps.LatLng(37.49629291770947, 127.02587362608637),
                new kakao.maps.LatLng(37.49754540521486, 127.02546694890695)
            ];

            var toiletPositions = [
                new kakao.maps.LatLng(37.497535461505684, 127.02948149502778),
                new kakao.maps.LatLng(37.49671536281186, 127.03020491448352),
                new kakao.maps.LatLng(37.496201943633714, 127.02959405469642),
                new kakao.maps.LatLng(37.49640072567703, 127.02726459882308),
                new kakao.maps.LatLng(37.49640098874988, 127.02609983175294),
                new kakao.maps.LatLng(37.49932849491523, 127.02935780247945),
                new kakao.maps.LatLng(37.49996818951873, 127.02943721562295)
            ];

            var dogcafePositions = [
                new kakao.maps.LatLng(37.49966168796031, 127.03007039430118),
                new kakao.maps.LatLng(37.499463762912974, 127.0288828824399),
                new kakao.maps.LatLng(37.49896834100913, 127.02833986892401),
                new kakao.maps.LatLng(37.49893267508434, 127.02673400572665),
                new kakao.maps.LatLng(37.49872543597439, 127.02676785815386),
                new kakao.maps.LatLng(37.49813096097184, 127.02591949495914),
                new kakao.maps.LatLng(37.497680616783086, 127.02518427952202)
            ];

            var markerImageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png';  // 마커이미지의 주소입니다. 스프라이트 이미지 입니다
                trashMarkers = [], // 커피숍 마커 객체를 가지고 있을 배열입니다
                toiletMarkers = [], // 편의점 마커 객체를 가지고 있을 배열입니다
                dogcafeMarkers = []; // 주차장 마커 객체를 가지고 있을 배열입니다


            createTrashMarkers(); // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가합니다
            createToiletMarkers(); // 편의점 마커를 생성하고 편의점 마커 배열에 추가합니다
            createDogcafeMarkers(); // 주차장 마커를 생성하고 주차장 마커 배열에 추가합니다

            changeMarker('trash'); // 지도에 커피숍 마커가 보이도록 설정합니다


            // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
            function createMarkerImage(src, size, options) {
                var markerImage = new kakao.maps.MarkerImage(src, size, options);
                return markerImage;
            }

            // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
            function createMarker(position, image) {
                var marker = new kakao.maps.Marker({
                    position: position,
                    image: image
                });

                return marker;
            }

            // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가하는 함수입니다
            function createTrashMarkers() {

                for (var i = 0; i < trashPositions.length; i++) {

                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 0),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };

                    // 마커이미지와 마커를 생성합니다
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(coffeePositions[i], markerImage);

                    // 생성된 마커를 커피숍 마커 배열에 추가합니다
                    trashMarkers.push(marker);
                }
            }

            // 커피숍 마커들의 지도 표시 여부를 설정하는 함수입니다
            function setTrashMarkers(map) {
                for (var i = 0; i < trashMarkers.length; i++) {
                    trashMarkers[i].setMap(map);
                }
            }

            // 편의점 마커를 생성하고 편의점 마커 배열에 추가하는 함수입니다
            function createToiletMarkers() {
                for (var i = 0; i < toiletPositions.length; i++) {

                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 36),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };

                    // 마커이미지와 마커를 생성합니다
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(toiletPositions[i], markerImage);

                    // 생성된 마커를 편의점 마커 배열에 추가합니다
                    toiletMarkers.push(marker);
                }
            }

            // 편의점 마커들의 지도 표시 여부를 설정하는 함수입니다
            function setToiletMarkers(map) {
                for (var i = 0; i < toiletMarkers.length; i++) {
                    toiletMarkers[i].setMap(map);
                }
            }

            // 주차장 마커를 생성하고 주차장 마커 배열에 추가하는 함수입니다
            function createDogcafeMarkers() {
                for (var i = 0; i < dogcafePositions.length; i++) {

                    var imageSize = new kakao.maps.Size(22, 26),
                        imageOptions = {
                            spriteOrigin: new kakao.maps.Point(10, 72),
                            spriteSize: new kakao.maps.Size(36, 98)
                        };

                    // 마커이미지와 마커를 생성합니다
                    var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                        marker = createMarker(dogcafePositions[i], markerImage);

                    // 생성된 마커를 주차장 마커 배열에 추가합니다
                    dogcafeMarkers.push(marker);
                }
            }

            // 주차장 마커들의 지도 표시 여부를 설정하는 함수입니다
            function setDogcafeMarkers(map) {
                for (var i = 0; i < dogcafeMarkers.length; i++) {
                    dogcafeMarkers[i].setMap(map);
                }
            }

            // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
            function changeMarker(type){

                var trashMenu = document.getElementById('trashMenu');
                var toiletMenu = document.getElementById('toiletMenu');
                var dogcafeMenu = document.getElementById('dogcafeMenu');

                // 커피숍 카테고리가 클릭됐을 때
                if (type === 'trash') {

                    // 커피숍 카테고리를 선택된 스타일로 변경하고
                    trashMenu.className = 'menu_selected';

                    // 편의점과 주차장 카테고리는 선택되지 않은 스타일로 바꿉니다
                    toiletMenu.className = '';
                    dogcafeMenu.className = '';

                    // 커피숍 마커들만 지도에 표시하도록 설정합니다
                    setTrashMarkers(map);
                    setToiletMarkers(null);
                    setDogcafeMarkers(null);

                } else if (type === 'toilet') { // 편의점 카테고리가 클릭됐을 때

                    // 편의점 카테고리를 선택된 스타일로 변경하고
                    trashMenu.className = '';
                    toiletMenu.className = 'menu_selected';
                    dogcafeMenu.className = '';

                    // 편의점 마커들만 지도에 표시하도록 설정합니다
                    setTrashMarkers(null);
                    setToiletMarkers(map);
                    setDogcafeMarkers(null);

                } else if (type === 'dogcafe') { // 주차장 카테고리가 클릭됐을 때

                    // 주차장 카테고리를 선택된 스타일로 변경하고
                    trashMenu.className = '';
                    toiletMenu.className = '';
                    dogcafeMenu.className = 'menu_selected';

                    // 주차장 마커들만 지도에 표시하도록 설정합니다
                    setTrashMarkers(null);
                    setToiletMarkers(null);
                    setDogcafeMarkers(map);
                }
            }
        </script>
    </article>
    <article>
        <div>
            <div class="btnBox">
                <div id="started">
                    <button type="button" id="pause" aria-hidden="true">일시정지</button>
                    <button type="button" id="stop" aria-hidden="true">그만하기</button>
                </div>
                <div id="paused">
                    <button type="button" id="start" aria-hidden="true">시작하기</button>
                </div>
                <script>
                    $(document).ready(function() {
                        $('#paused').show(); //페이지를 로드할 때 표시할 요소
                        $('#started').hide(); //페이지를 로드할 때 숨길 요소
                            $('#start').click(function(){
                                $ ('#paused').hide(); //클릭 시 첫 번째 요소 숨김
                                $ ('#started').show(); //클릭 시 두 번째 요소 표시
                            return false;
                        });
                    });
                </script>
            </div>
            <script>
                window.onload = function(){

                    let timer_sec;
                    let timer_min;
                    let timer_hour;
                    let timer_micro;

                    let timer = 0;

                    //click start button
                    document.getElementById("start").addEventListener("click", function(){
                        //console.log(timer);
                        if(timer > 0){
                            return;
                        }

                        var micro = parseInt(document.getElementById("micro").innerText);
                        var sec = parseInt(document.getElementById("sec").innerText);
                        var min = parseInt(document.getElementById("min").innerText);
                        var hour = parseInt(document.getElementById("hour").innerText);

                        //start seconds
                        timer_micro = setInterval(function(){
                            micro++;
                            if(micro == 100) {
                                micro = "00";
                            } else if(micro < 10){
                                micro = "0" + micro;
                            }
                            document.getElementById("micro").innerText = micro;
                        }, 10);

                        //start seconds
                        timer_sec = setInterval(function(){
                            //console.log(i);
                            sec++;
                            if(sec == 60) {
                                sec = "00";
                            } else if(sec < 10){
                                sec = "0" + sec;
                            }
                            document.getElementById("sec").innerText = sec;
                        }, 1000);

                        //start minutes
                        timer_min = setInterval(function(){
                            min++;

                            if(min == 60) {
                                min = 0;
                            } else if(min < 10){
                                min = "0" + min;
                            }

                            document.getElementById("min").innerText = min;
                        }, 60000);

                        //start hours
                        timer_hour = setInterval(function(){
                            //console.log(hour);
                            hour++;

                            if(hour < 10){
                                hour = "0" + hour;
                            }

                            document.getElementById("hour").innerText = hour;

                        }, 3600000);

                        timer++;
                        //console.log(timer);
                    });

                    //click pause button
                    document.getElementById("pause").addEventListener("click", function(){
                        stop();
                    });

                    function stop(){
                        clearInterval(timer_micro);
                        clearInterval(timer_sec);
                        clearInterval(timer_min);
                        clearInterval(timer_hour);

                        timer--;
                        if(timer < 0)
                            timer = 0;
                    }

                    //click stop button
                    document.getElementById("stop").addEventListener("click", function(){
                        stop();
                        document.getElementById("micro").innerText = "00";
                        document.getElementById("sec").innerText = "00";
                        document.getElementById("min").innerText = "00";
                        document.getElementById("hour").innerText = "00";
                    });
                }
            </script>
        </div>
    </article>
</section>

</body>
</html>